:root {
    color-scheme: light dark;
}

body {
    width: 450px;
    padding: 10px;
    font-family: system-ui;
}

#mainpage {
    position: relative;
}

#logo {
    position: absolute;
    left: 5px;
    width: 50px;
}

#title {
    padding-left: 75px;
    padding-top: 11px;
    margin-top: 0;
}

button {
    -webkit-appearance: none;
    appearance: none;
    border: .5px solid rgba(160, 160, 160, .5);
    border-radius: .5em;
    filter: drop-shadow(0 0.1em 0.1em rgba(160, 160, 160, .2));
    font-size: 1.2em;
    background-color: rgba(160, 160, 160, .05);
}

button:active {
    color: white;
    background-color: #00D;
}


#editpage #edit {
    position: relative;
    top: 0px;
}

#editpage #edit #advanced {
    position: absolute;
    font-size: 0.8em;
    top: 0px;
    right: 0px;
}

#editpage #edit.advanced .simple-only {
    display: none;
}

#editpage #edit:not(.advanced) .advanced-only {
    display: none;
}

#editpage ul.error:empty {
    display: none;
}

#editpage ul.error > li {
    list-style-type: none;
    color: red;
    transition: background-color 0.5s;
    background-color: rgba(200, 0, 0, 0);
}

#editpage ul.error > li.new {
    background-color: rgba(200, 0, 0, 1);
}

#rules {
    margin-top: 8px;
    position: relative;
    clear: both;
}

#rules > h3 {
    padding-top: 3px;
    padding-left: 55px;
}

#ruletablebuttons {
    position: absolute;
    right: 0px;
    top: 6px;
    cursor: default;
}

#ruletablebuttons img, #ruletablebuttons span.icon {
    height: 1.2em;
    width: 1.2em;
    margin: 3px;
    opacity: 1;
    transition: opacity 0.4s;
    cursor: pointer;
}

#ruletablebuttons:not([activeRuleId]) :is(#editrule, #deleterule) {
    opacity: 0.3;
    cursor: default;
}

#rulelistcontainer {
    width: calc(100% - 2px); /* minus border */
    max-height: 460px;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid black;
}


#rulelist {
    border-collapse: collapse;
    margin: -1px;
    font-size: 0.9em;
    min-width: calc(100% + 2px);
}

#rulelist, #rulelist th, #rulelist td {
    border: 1px solid black;
    padding: 4px 8px;
}


#rulelist th {
    text-align: left;
}

#rulelist > thead > tr {
    background-color: rgba(160, 160, 160, .2)
}

#rulelist > tbody > tr:nth-child(odd) {
    background-color: rgba(160, 160, 160, .1)
}

#rulelist > tbody > tr {
    cursor: pointer;
    background-color: rgba(160, 160, 160, 0);
    transition: background-color 0.2s ease;
}

#rulelist > tbody > tr:hover {
    background-color: rgba(250, 230, 115, .3);
}

#rulelist > tbody > tr.active {
    background-color: rgba(250, 230, 115, 1);
}

#rulelist > tbody > tr > td {
    font-size: 0.9em;
    white-space: nowrap;
}

#rulelist > tbody > tr > td.prefix, #rulelist > tbody > tr > td.target  {
    font-family: monospace;
}

#rulelist > tbody > tr > td.target  {
    font-size: 0.8em;

}

#rulelist > tbody> tr.advanced  > td.prefix  {
    color: rgb(230, 50, 50);
}

#editpage.new .title.edit {
    display: none;
}

#editpage.edit .title.new {
    display: none;
}

#editpage label {
    margin-top: 15px;
    display: block;
}

#editpage :is(input[name=name], input[name=prefix], input[name=target], input[name=regexstr]) {
    width: calc(100% - 6px);
    display: block;
}

.buttons {
    display: block;
    margin: 10px;
}

.buttons button {
    margin: 4px;
}

.modal .body {
    padding-left: 15px;
    font-size: 0.8em;
}

.sub {
    display: block;
    font-size: 0.7em;
    opacity: .6;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
    a {
        color: #99F;
    }
    a:visited {
        color: #F6F;
    }
    #rulelist > tbody > tr:hover {
        background-color: rgba(155, 131, 61, .3);
    }
    #rulelist > tbody > tr.active {
        background-color: rgba(155, 131, 61, 1);
    }

}

span.warningicon {
    width: 1rem;
    height: 1rem;
    background-image: url(images/warning.svg);
    background-size: 100% 100%;
    display: inline-block;
}

#jsoneditor {
    width: 90%;
    height: 200px;
}

.message.error {
    color: red;
    background-color: rgba(200, 0, 0, 0);
}

.message.ok {
    color: green;
    background-color: rgba(0, 200, 0, 0);
}

picture > span.icon{
    display: inline-block;
    text-align: center;
}
picture > span.icon > span {
    display: block;
    border: 1.5px solid white;
    border-radius: 50%;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    position: relative;
    top: -1px;
}
picture > span.icon > span > span {
    position: relative;
    font-size: 1.1em;
    top: -3px;
}
